
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
}

 body{font-family: 'Roboto';
      color:#000;
      font-size:16px;
      background-color:#e4e3e3;
      position: relative;
      overflow-x:hidden;
      height: 100%;
      
    }

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
a {
   outline: 0;
   text-decoration:none;
   color:#3a2314;
}

a:hover{color:#3a2314;}

*:focus{
  outline:none;
   color:#fff;
}
.floatL{float:left;}
.floatR{float:right;}
.clearfix{clear:both;}

/*Login Page*/

.fa{font-family:'FontAwesome';}

#login_page,#selectbrand_page,#forgot_page,#reset_page{transition: box-shadow .25s;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            background-color:#fff;
            transform: translate(70%,20%);
            -webkit-transform: translate(70%,20%);
            -moz-transform: translate(70%,20%);
            

      }

.login_logo{ margin: 40px auto 0px;
    width: 33%;

  }

.login_logo img{margin-bottom: 10px;
             
            }

input{width:80%;}
.powered_logo img{ margin: 0 8px 0;}
.checkbox label{color:#000;}
.bottom_line_login{margin: 20px 0; font-size:14px;}
.checkbox{}
.forget_password{line-height: 3; }
 .hideShowPassword-toggle {
background-image: url(../images/hint.png);
background-position: 0 center;
background-repeat: no-repeat;
cursor: pointer;
height: 100%;
overflow: hidden;
text-indent: -9999em;
width: 29px;
transition: all .25s;
}
.hideShowPassword-toggle-hide {
background-position: -29px center;
}

.form_login{width:80%; margin: 61px 30px;}
.icon{font-size: 21px;
    position: absolute;
    border-bottom: 1px solid #a4a1a1;
    width: 34px;
    height: 23px;
    color: #a4a1a1;
  }
  .form-group.form-group-sm .form-control {
    margin-left: 34px;
    width: 100%;
}
.form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label{ margin-left: 37px;}
.login_btn, .select_brand_submit{background-color:#fff;
          border:1px solid #d4df37;
          border-radius: 5px;
          text-align: center;
          padding: 10px 175px;
          transition: all .5s;
          text-transform: uppercase;
          margin: 30px 0;
          color:#3a2414;
          
      }

.select_brand_submit{padding: 10px 183px;}
.login_btn a{display: block;  }
.login_btn:hover, .select_brand_submit:hover{background-color:#d4df37; font-weight:bold;}
.dropdownjs ul{width:100%;}
.select_brand_submit{}
#login_page .form-control, .form-group .form-control{background-image: linear-gradient(#3a2314, #3a2314), linear-gradient(#a4a1a1, #a4a1a1);}
 #selectbrand_page{padding:0 30px;}


/*Forgot Password*/
#forgot_page .form-group.form-group-sm .form-control {   
    width: 100%;
    margin-left: 0px;
}
#forgot_page h1, #reset_page h1{color:#392315;
                font-size:20px;
      }

#forgot_page .form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label{ margin-left: 0px;}
#forgot_page .login_btn {
    background-color: #fff;
    border: 1px solid #d4df37;
    border-radius: 5px;
    text-align: center;
    padding: 10px 155px;
    transition: all .5s;
    text-transform: uppercase;
    margin: 30px 0;
    color: #3a2414;
}

#forgot_page .login_btn:hover {
  background-color:#d4df37; font-weight:bold; 
  }

#forgot_page .form_login {
    width: 80%;
    margin: 40px auto;
}