
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
}


 body{ font-family: 'robotolight';
      color:#000;
      font-size:16px;
      background-color:#f7f7f7;
      position: relative;
      overflow-x:hidden;
      height: 100%;
      
    }

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
a { font-size: 16px;
   outline: 0;
   text-decoration:none;
   color:#000;
}

a:hover{color:#3a2314;}

*:focus{
  outline:none;
   color:#fff;
}
.floatL{float:left;}
.floatR{float:right;}
.clearfix{clear:both;}

/*Login Page*/


.fa{font-family:'FontAwesome';}

.login_page, .forgot_page, .selectbrand_page {
   max-width: 450px;
   padding: 20px 0px 0;
}

.login_page,#selectbrand_page,.forgot_page,.reset_page{transition: box-shadow .25s;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            background-color:#fff;          
            margin-top: 50px;     
            padding: 20px 25px 30px; 
                margin: 60px auto 25px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      }

.login_logo{ margin:30px auto;
    width: 46%;

  }


input:-webkit-autofill {
    background-color: transparent !important;
  -webkit-text-fill-color: #000 !important;
   
}
input{width:80%;}
.powered_logo img{ margin: 0 8px 0;}
.checkbox label{color:#000;}
.bottom_line_login{margin: 20px 0 0s; font-size:14px;}
.checkbox{}
.forget_password{line-height: 2.9; margin-right: -32px; }
 .hideShowPassword-toggle {
  background-image: url(../images/hint.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  text-indent: -9999em;
  width: 29px;
  margin-top: -17px!important;
  transition: all .25s;
}
.hideShowPassword-toggle-hide {
background-position: -29px center;
}
.remember_text{padding-left:12px;}
.form_login{width:80%; margin: 61px 0px 16px 25px;  padding: 0 24px;}
.icon{font-size: 21px;
    position: absolute;
    width: 34px;
    height: 23px;
    color:#bfc1c3;
    margin: 0;
  }
  .form-group.form-group-sm .form-control {
    margin-left: 34px;
    width: 100%;
  padding-bottom: 15px;
  
}
.form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label{ margin-left: 37px;}
.login_btn, .select_brand_submit{background-color:#d8d8d7;
          border:1px solid #d8d8d7;
          border-radius: 5px;
          text-align: center;
          padding: 10px 153px;
          transition: all .5s;
          text-transform: uppercase;
          margin: 30px 0;
          color:#3a2414;
      font-size: 18px;
      font-weight:400;
          
      }

.select_brand_submit{padding: 10px 183px;}
.login_btn a{display: block;  }
.login_btn:hover, .select_brand_submit:hover{background-color:#d4df37; }
.dropdownjs ul{width:100%;}
.select_brand_submit{}
#login_page .form-control, .form-group .form-control{background-image: linear-gradient(#d4df37, #d4df37), linear-gradient(#a4a1a1, #a4a1a1); font-size: 15px;}
 #selectbrand_page{padding:0 30px;}


/*Forgot Password*/
#forgot_page .form-group.form-group-sm .form-control {   
    width: 100%;
    margin-left: 0px;
}
#forgot_page h1, #reset_page h1{color:#392315;
                font-size:20px;
        font-weight: 400;
      }

#forgot_page .form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label{ margin-left: 0px;}
#forgot_page .login_btn {font-weight: bold;
    background-color: #d8d8d7;
    border: 1px solid #d8d8d7;
    border-radius: 5px;
    text-align: center;
    padding: 10px 105px;
    transition: all .5s;
    text-transform: uppercase;
    margin: 30px 0;
    color: #3a2414;
}

#forgot_page .login_btn:hover {
  background-color:#d4df37; font-weight:bold; 
  }

#forgot_page .form_login {
    width: 80%;
    margin: 40px auto;
}
