.panel-body {
    padding: 0px;
}
ul.top_ad {
    padding: 10px;
}
 .legend {
    width: 10%;
}
ul.top_ad_group {
    padding: 10px;
}

ul.top_keywords {
    padding: 10px;
}

#ack{padding-bottom:80px;}


.esa{
   display: none;
            }
            .dailyreport{
              display: none;
            }
            .monthlyreport{
              display: none;
            }
            .weeklyreport{
              display: none;
            }
            .filterreports{
              display: none;
            }

             .legend {
    width: 10%;
}
div.dataTables_filter {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

 .no_data_wrapper {position:absolute;
    top: 50%;
    z-index: 999;
    left: 37%;
    margin: 30px 0;
    display:block;
  }