
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
 height: 100%;
}
#ack{padding-bottom:80px;}

 body{font-family: 'Roboto';
      color:#000;
      font-size:16px;
      background-color:#f7f7f7;
      position: relative;
      overflow-x:hidden;
      height: 100%;
      
    }


a {
   outline: 0;
   text-decoration:none;
   color:#3a2314;
}

a:hover{color:#3a2314;}

*:focus{
  outline:none;
   color:#fff;
}
.floatL{float:left;}
.floatR{float:right;}
.clearfix{clear:both;}


/*Dashboard*/

.wrapper {
    min-height: 100%;
    position: relative;
    
}
.main_header{width:100%;
            position: relative;
            z-index: 999;
            min-height: 70px;
      }
.header{width:100%;
        background-color:#3d231e;      
        
  }

.header_fixed{position:fixed; 
             transition: all 1s ease-in-out;
             -webkit-transition: all 1s ease-in-out;
             -moz-transition: all 1s ease-in-out;
             -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
              z-index: 20;
              width: 100%;
                  min-height: 70px;
                  z-index: 999;
             
  }



.header .header_logo{}
.header .header_logo img{margin: 20px 20px 0px;}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{background-color: transparent;}
.navbar .navbar-nav > li > a{ padding-bottom: 29px; text-transform: uppercase; font-size: 15px;}
.nav li.active{border-bottom:4px solid #cbdb2b;}
.navbar{margin-bottom: 0;}
#search {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    
}
.show_campaign,.show_adgroup,.show_ad,.show_keyword{display:none;}

div.dataTables_filter {
    display:none !important;
}
.navbar-nav > li.menu3 > .dropdown-menu{margin-top: 5px;}
#label {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 29px;
    height: 30px;
    background: url("../images/search.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}

#label label:hover {
    background: url("../images/search.png") -29px 0
}
#label.active label {
    background: url("../images/search.png") -29px 0
}

#input {
    position: absolute;
    top: -15px;
    right: 60px;
    width: 250px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    display: block;
    position: absolute;
    top: 0;
    right: -275px;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #3d231e;
    color: #fff;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: right 0;
    -moz-transition: right 0;
    -ms-transition: right 0;
    -o-transition: right 0;
    transition: right 0;
}
#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    right: 0px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
}


.navbar-custom-menu>.navbar-nav>li{float:left; 
                       list-style:none;
                      position:relative;
                      margin-top: 20px;
                     }
.navbar-nav > li > a{font-size:20px;
                      padding:0 15px;
                      color:#fff;
              }

.navbar-nav > li.user-menu > .dropdown-menu { margin-top: 33px; border-radius: 4px;
  }

.navbar-nav > li > a:hover{background-color:transparent;}
  
  
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #337ab7;
}
/*middle_header*/

.middle_header{background-color:#fff;
               -webkit-box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
              -moz-box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
              box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
              margin-bottom: 34px;
              height: 61px;
              width: 100%;
      }


.middle_header .middle_left{ width: 34%;
                            margin: 12px;
                  }

.middle_header .totallead_text .totaltext{color:#000;
                                          text-transform: capitalize;
                                          font-size:29px;
                                          margin-left: 10px;

    }

.middle_header .totallead_text .totaltext span{ font-family: 'robotobold';}

.middle_header  .middle_center{ width: 20%;}
.middle_header  .middle_center .fc-button{font-size: 18px;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: none;
                    transition: border-bottom .3s ease;
                    -webkit-transition: border-bottom .3s ease;
                    -moz-transition: border-bottom .3s ease;
                    -ms-transition: border-bottom .3s ease;
                    -o-transition: border-bottom .3s ease;
                    line-height: 3.1;
                    border-right: 1px solid #f0f0f0;
                    padding: 3px 10px;
                    margin: 0 -2px;


        }
.dropdownjs li:nth-child(1) {
    font-weight: 400;
}
.fc_button_active {
    border-bottom: 4px solid #cbdb2b!important;
    color: #000;
    background-color: rgba(203,219,43,0.4)!important;
}


.middle_right{/*width:21%;*/
              margin: 10px 76px;
        }

.calendar_unit i {
    position: absolute;
   bottom: auto;
    right: 531px;
    top: 97px;
    cursor: pointer;
	color: #3d231e;
}

.middle_right .form-group{margin:0;}

.middle_last{margin-right: 70px;
            padding: 3px;
        }

.middle_download_button{width:50px;
                        height: 50px;
                        background-color: #c5d713;
                        border-radius: 100px;
             border: none;
                        cursor: pointer;
                       -webkit-box-shadow: 0px 8px 42px -14px rgba(0,0,0,0.75);
                      -moz-box-shadow: 0px 8px 42px -14px rgba(0,0,0,0.75);
                      box-shadow: 0px 8px 42px -14px rgba(0,0,0,0.75);
          }

.middle_download_button .download_icon{color:#fff;
                                      font-size: 24px;
                                          padding: 13px;
                                   line-height: 2;
          }

.notifications-menu i{font-size: 24px;}
/*lead_chart_wrapper Starts*/

.lead_chart_wrapper, .adding_filter{width: 97%;
                    margin: 0 auto;
         }
.lead_chart_wrapper .lead_chart{width:100%;
                                height:300px;
    }
.sources_fb{    padding: 4px 8px;
    line-height: 1.2;}
  .sources_search{padding: 5px;
    line-height: 1.6;}  
    .sources_gogle{padding: 5px 6px;}
/*filters*/
.icon-close{  font-family: 'iconfont'; padding:15px!important;}
.filters{
    }
.filter_button{background-color:#cada2b;
                  width: 60px;
                  height: 60px;
                  border-radius: 100px;
                  cursor:pointer;
                  -webkit-box-shadow: 0px 13px 23px -8px rgba(0,0,0,0.35);
                  -moz-box-shadow: 0px 13px 23px -8px rgba(0,0,0,0.35);
                  box-shadow: 0px 13px 23px -8px rgba(0,0,0,0.35);
                  position: fixed;
                   bottom: 40px;
                   right: 20px;
                   z-index: 21;
                  transition: all .3s;
                 -webkit-transition: all .3s;
                  -moz-transition: all .3s;
                   -ms-transition: all .3s;
                    -o-transition: all .3s;
      }


.filter_icon{font-size: 31px;
            padding: 18px;
            text-align: center;
            color:#3c221e;
  }


.filter_overlay{width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color:rgba(61,35,30,0.8);
        display:none;
        z-index:20;

      }



.filter_content{background-color: #fff;
                width: 73%;
                display: none;
                position: fixed;
                bottom: 4%;
                right: 6.7%;
                z-index: 9999;
                 max-width: 1280px;
                 border-radius: 4px;
        
    }

.filter_arrow{margin-left: 27px;
    margin-top: 3px;
  }

.filter_dropdown{margin-top: 56px;}
.filterby{margin: 0 21px 0 80px;}
.filters .having .form-group.form-group-sm {
    padding-bottom: 3px;
    margin: 43px 0 0 20px;
}
.filters .filter_applynow .btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary{    color: #fff;
    background-color: #30140f;}
.filters .having{width:26%;}
.filters .form-group.form-group-sm label{color:#000;}
.filter_applynow{margin-left: 60px;
    margin-top: 19px;
  }

.slideLeft{
  animation: slideLeft 1s ease-in-out;
  -webkit-animation: slideLeft 1s ease-in-out; 
  visibility: visible !important; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50%{
    transform: translateX(-8%);
  }
  65%{
    transform: translateX(4%);
  }
  80%{
    transform: translateX(-4%);
  }
  95%{
    transform: translateX(2%);
  }     
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50%{
    -webkit-transform: translateX(-8%);
  }
  65%{
    -webkit-transform: translateX(4%);
  }
  80%{
    -webkit-transform: translateX(-4%);
  }
  95%{
    -webkit-transform: translateX(2%);
  }     
  100% {
    -webkit-transform: translateX(0%);
  }
}


/*FilterAdding*/

.adding_filter{}
.adding_filter .filter_tabs{width: 20%;}
.adding_filter .filter_tabs ul li{list-style:none;
                                  background-color:#fff;
                                  padding: 10px;
                                  margin: 0 10px 0 0;
            }

.adding_filter .filter_tabs ul li a{color:#000;
                                    font-family: 'robotomedium';
                                    font-size:14px;
                                    padding:4px 12px;
                                    display:inline-block;
            }

.selected{background-color:#cada2b!important;}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 10px 0;

}
table{-webkit-box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
      box-shadow: 0px 13px 13px -14px rgba(0,0,0,0.35);
            }

.table-bordered{border: none;
                
}
.table-inverse{background-color:#3d231e;
              color:#fff;
      }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border:none;}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f2f0f0;
}
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{padding:15px;
                                              font-size: 15px;  
                                              font-family: 'robotolight';
                                              font-weight: normal;
                                              color:#7b7a7a;
                                              vertical-align:middle;
                                              }
                                              
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{font-size:18px;
                                              font-family:'robotolight';
                                              padding:14px;
                                              font-weight:normal;
                                              vertical-align:middle;
          }
          
/*.table-bordered > tbody > tr > th:nth-child(2),.table-bordered > tbody > tr > td:nth-child(2){padding-right:100px;}*/
.navbar-custom-menu{width: 14%;}
/*Footer*/

#footer{background-color:#e7e7e7;
       width:100%;
       position:absolute;
       bottom:0;
       height:40px;
           
    }

#footer p{color:#3d231e;
          text-align: center;
          font-size: 14px;
          padding: 10px;
      }


/*Overview Page Styling Starts here*/

/*middle_content*/

.middle_content{width:100%;}
.middle_content .middle_left_content{width: 49%;
                                    margin-right: 10px;
                                  }

.middle_content .middle_left_content h3{font-size:30px;
                                        color:#000; 
                                        margin-bottom:20px;                                       
        
          }
 .middle_content .middle_content_margin{margin:10px 20px;}
 .left_data{width:14%;}
.right_data{width:75%; padding: 10px;}
 .left_data .leads_data{font-size:14px;
                        color:#000;
                           text-align: left;
            padding: 17px 21px;

        }
    
.fa-cog{margin-right: 5px;}

 .left_data .leads_data span{ font-family: 'robotobold'; }
 .progress_data{margin: 10px 0;}
 .progress .progress-bar, .progress .progress-bar.progress-bar-default{background-color: #e8fc24;}
 .progress{height:12px;}
 .sources_wrap{margin-bottom: 10px;}
 .circle_icon{width:30px;
              height:30px;
              border:2px solid #3d231e;
              border-radius: 50px;
        }

.icon_text{color:#3d231e;
          font-size:16px;
          text-align: center;
          

    }

.sources_text{color:#000;
              font-size:18px;
              padding: 2px 10px;
      }

  .legend {
    width: 10%;
}

.esa{
   display: none;
            }
            .dailyreport{
              display: none;
            }
            .monthlyreport{
              display: none;
            }
            .weeklyreport{
              display: none;
            }
            .filterreports{
              display: none;
            }
    

/*top_lead_container*/

.top_lead_container{width:100%;}
.top_lead_container h3{text-transform: uppercase;
                        color:#000;
                        font-size: 24px;
                        margin-left: 40px;
        }

.topad_panel, .topadgroup_panel,.topkeywords_panel{width:97%;
          margin: 15px auto;
        }
.top_lead_container .topad_container .topad_panel .top_ad li, .top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li, .top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li{list-style: none;
                                           float:left;
                                           width: 20%;
                                   
  }
.top_lead_container .topad_container .topad_panel .top_ad li .legendcolor, .top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legendcolor, .top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legendcolor{width:12px;
                                                                              height:12px;
                                                                              border-radius: 2px;
                                                                              margin: 10px;
      
                  }

.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .veryhigh{background-color:#654312;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .high{background-color:#8d6225;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .normal{background-color:#b17b2f;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .low{background-color:#da983b;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .verylow{background-color:#fac174;}
.top_lead_container .topad_container .legend_text,.top_lead_container .topadgroup_container .legend_text,.top_lead_container .topkeywords_container .legend_text{font-size: 14px;
                                                                                  color: #000;
                                                                                      line-height: 2.1;
                                                                                  display: inline-block;
                                                                                  width: 68%;
            }

.top_lead_container .topad, .top_lead_container .topadgroup_container .topad, .top_lead_container .topkeywords_container .topad{color:#fff;
                                                                      text-align: center;
                                                                      margin: 10px 0;
                                                                      padding: 6px;
    
                                                                    }
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .top_block1{background-color:#654312;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .top_block2{background-color:#8d6225;}
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .top_block3{background-color:#b17b2f; }
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .top_block4{background-color:#da983b; }
.top_lead_container .topad_container .topad_panel .top_ad li .legend_container .top_block5{background-color:#fac174;}

/*Top Ad Group*/

.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .top_block1{background-color:#5e6616;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .top_block2{background-color:#808b1e;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .top_block3{background-color:#9fac26; }
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .top_block4{background-color:#c1d030; }
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .top_block5{background-color:#e8fc24;}

.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .veryhigh{background-color:#5e6616;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .high{background-color:#808b1e;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .normal{background-color:#9fac26;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .low{background-color:#c1d030;}
.top_lead_container .topadgroup_container .topadgroup_panel .top_ad_group li .legend_container .verylow{background-color:#e8fc24;}

/*Top Keywords*/

.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .top_block1{background-color:#11374e;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .top_block2{background-color:#184e6e;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .top_block3{background-color:#1f638c; }
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .top_block4{background-color:#287bae; }
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .top_block5{background-color:#3398d6;}

.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .veryhigh{background-color:#11374e;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .high{background-color:#184e6e;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .normal{background-color:#1f638c;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .low{background-color:#287bae;}
.top_lead_container .topkeywords_container .topkeywords_panel .top_keywords li .legend_container .verylow{background-color:#3398d6;}

.panel-body ul {list-style: none;}
.panel-body ul li{list-style:none;}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should be a color other than white */
  z-index:99; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally on the screen */
  top:50%; /* centers the loading animation vertically on the screen */
  background-image:url(../images/status.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}
.error_msg{font-size:12px;
          color:red;
          display: none;
      }
    
/*User Setting*/

.side-nav{position: absolute;
    top: 0;
    left: 0;
    background-color:#f2f2f2;  
    min-height: 100%;
    width: 230px;
    z-index: 810;
    padding-top: 71px;
   
  }

.z-depth-1{box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  
        }

.side-nav ul {list-style: none;}
.side-nav ul li{list-style: none; background:#f2f2f2;
                    border-bottom: 1px solid #eaeaea; 
                  -webkit-transition: background-color .3s ease-in-out,-ms-transform .3s ease-in-out;
                  -moz-transition: background-color .3s ease-in-out,-o-transform .3s ease-in-out;
                  -o-transition: background-color .3s ease-in-out, -moz-transform .3s ease-in-out;
                  transition: background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
        }
.side-nav ul li a{font-size: 18px;
                      color:#3d231e;
                      display:block;
                   
        }
.side-nav li.tranformactive>a>.fa-angle-left {transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.side-nav li.active, .side-nav li:hover{background-color:#cbdb2b;}
.top_roles_wrapper{margin:30px 0;}
.card-header{background-color: #d7de96;
          padding: 18px;
        font-size: 18px;
  }
.role_wrapper,.permission_wrapper{width: 33.33%;
              padding-left: 15px;
               padding-right: 15px;
                   margin-right: 43px;
  }
.side-nav .collapsible .fa {
    margin-right: 16px;
    margin-top: 25px;
}
.role-block{width:100%;
            background-color:#fff;
    }
.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    background-color: #cbdb2b;
}
.user_role_btn{font-size: 18px;
    border-radius: 3px;
    padding: 10px 50px;
    text-transform: capitalize;
    margin: 28px;
  }
.user_role_btn, .user_role_btn:hover {
    background-color: #cbdb2b!important;
}
.top_roles_wrapper .card-block{margin:30px 0;}

.left_role{width:20%;}
.left_permission{width:80%;}
.card-block p{font-size:14px;
              padding: 29px 10px;
              font-weight: 400;
      }
.roles_permission .card-block{padding:10px;}
.role_permission_btn{width:20%;}
.user_permission_btn{font-size:18px;
                    background-color:#dadad8;
                    border-radius: 3px;
                  padding: 10px 50px;
                  text-transform: capitalize;
                  margin: 28px;
                  color:#000;
                  
          }
.user_permission_btn:hover{
    background-color: #cbdb2b!important;
    color:#000;
}
.left_permission{width:20%;}
.right_permission{width:55%; padding-bottom: 10px;}
.btn:active, .btn:focus {
    outline: 0;
    color: #000;
}
.check_block {margin-right: 20px;
              margin-bottom: 0px;
  
  }

.check_block label{font-size:12px;
                  color:#231f20;
          }

.line_border{border-bottom: 1px solid #dadad8;}

/*USER*/

.adduser_wrapper{margin:30px 0;}
.adduser_btn{font-size: 14px;
    color: #231f20;   
   
}
.top_roles_wrapper .userBtn_wrap{margin-right: 30px;}
.userBtn_wrap{cursor:pointer;}
.user_addlist .card-header{background-color:#dadad8;}
.addicon{    font-size: 23px;
    margin-right: 10px;}

.modal-header{background-color: #d8d7d7;}
.modal-title{color:#000;
              font-weight: 400;
              margin-bottom: 18px;
      }
.modal-header .close {
    margin-top: -12px;
}
.md-form .dropdownjs>input{ width: 95%; color: #000;}
.role{top:-1rem !important;}
.btn-primary:focus, .btn-primary:hover {
    background-color: #cbdb2b!important;
}
.text-xs-center button{font-size: 18px; border-radius: 3px;}

.profile_wrapper{margin:30px 0;}
.profile_text{font-family: 'robotomedium';
              font-size:18px;
              color:#000;
  }
.changepassword{font-size: 18px;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 16px;
  }
.change_password_wrapper {margin-bottom:20px;}
.profile_firstblock{padding: 10px 17px; 
                    font-size:14px;
                   

                  }
.profile_firstblock h3{ font-family: 'robotomedium';
                       padding-bottom: 10px;
      }

.profile_sub{color:#676868; }
.sub_divider{ border-bottom: 1px solid #959595;
              margin: 20px 0;
      }
    
.ms-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
  border:none;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    background-color: #fff;
}
.ms-parent{margin-top:28px;}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
  transition:background-color .3s ease-out;
  -webkit-transition:background-color .3s ease-out;
  -moz-transition:background-color .3s ease-out;
  -ms-transition:background-color .3s ease-out;
  -o-transition:background-color .3s ease-out;
}

.ms-drop ul > li:nth-last-child(2){ border-bottom: none;}
.ms-parent li span{color:#000;
           font-size:15px;
  }
.form-control:focus{color:#000;}  


.body_content{ padding-bottom: 100px;
 
    padding-right: 20px;
    padding-left: 23px;}

     .ms-choice{border-bottom:1px solid #aaa; border-radius:0; border:none;}
.collapsible .active_side{background-color:#cbdb2b;}

  /*New Changes*/

.btn, .btn-large{ background-color: #cbdb2b;}  
.middle_last li:first-child{border-bottom:1px solid #ccc;}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
 .middle_last .dropdown-menu > li > a{padding: 9px 20px;}
 .ms-drop ul > li label{color:#000;}
 input[type="radio"], input[type="checkbox"]{margin: 4px 10px 0 0;}
.hide_value{display:none;}

 .product_wrapper .ms-parent{margin-bottom:28px;}
.md-form, .md-form .btn{margin-bottom:0rem;}
.brandmd{margin-top: 40px;}
.permission_wrapper .ms-parent{margin-top:28px;}
.pagination > li > a, .pagination > li > span{color: #3a2414;}