@font-face {
    font-family: 'iconfont';
    src:    url('../fonts/iconfont.eot?5o3opn');
    src:    url('../fonts/iconfont.eot?5o3opn#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.ttf?5o3opn') format('truetype'),
        url('../fonts/iconfont.woff?5o3opn') format('woff'),
        url('../fonts/iconfont.svg?5o3opn#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\61";
}
.icon-download:before {
    content: "\62";
}
.icon-facebook-01:before {
    content: "\66";
}
.icon-filter-01:before {
    content: "\64";
}
.icon-notification-01:before {
    content: "\65";
}
.icon-Search-01:before {
    content: "\67";
}
.icon-SEM:before {
    content: "\68";
}
.icon-settingicon-01:before {
    content: "\69";
}
.icon-usericon-01:before {
    content: "\6a";
}
.icon-VectorSmartObjectcopy-01:before {
    content: "\6b";
}

