.icon-close {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x61;');
}
.icon-download {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x62;');
}
.icon-facebook-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x66;');
}
.icon-filter-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x64;');
}
.icon-notification-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x65;');
}
.icon-Search-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x67;');
}
.icon-SEM {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x68;');
}
.icon-settingicon-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x69;');
}
.icon-usericon-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x6a;');
}
.icon-VectorSmartObjectcopy-01 {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x6b;');
}

