@media only screen and (min-width: 320px) {
.login_page,.forgot_page {max-width: 288px;}
.login_btn, .select_brand_submit{padding: 10px 93px;}
.form_login {width: 83%;
    margin: 61px 0px 16px 0;
    padding: 0;
}
.form-group.form-group-sm .form-control{width:100%;}
.forget_password {line-height: 1; margin-right: 51px;}
a {font-size:14px;}
.checkbox label, .radio label, label{font-size:14px;}
.login_btn, .select_brand_submit{margin: 29px 0;}
#forgot_page .login_btn{padding: 10px 50px; margin: 21px 0 0px;}
}

@media only screen and (min-width: 360px) {
.login_page,.forgot_page {max-width: 328px;}
.forget_password {line-height: 1; margin-right: 83px;}
.login_btn, .select_brand_submit{padding: 10px 111px;}
#forgot_page .login_btn{padding: 10px 50px; margin: 21px 0 0px;}
}



@media only screen and (min-width: 1200px){
.login_page,.forgot_page { max-width: 450px; padding: 20px 0px 0;}
.login_page,#selectbrand_page,#forgot_page,#reset_page{
            margin-top: 50px;     
            padding: 20px 25px 30px; 
              margin: 60px auto 25px;			
      }

.login_logo{ margin:30px auto; width: 46%;}
input:-webkit-autofill {background-color: transparent !important;
	-webkit-text-fill-color: #000 !important;}
input{width:80%;}
.forget_password{line-height: 3.4; margin-right: -32px; }

.form_login{width:80%; margin: 61px 0px 16px 25px;  padding: 0 24px;}
 .form-group.form-group-sm .form-control { width: 100%;}
.form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label{ margin-left: 37px;}
.login_btn, .select_brand_submit{padding: 10px 131px; }
.select_brand_submit{padding: 10px 183px;}

/*Forgot Password*/
#forgot_page .form-group.form-group-sm .form-control {width: 100%; margin-left: 0px;}
#forgot_page .form_login {width: 80%; margin: 40px auto;}
#forgot_page .login_btn {padding: 10px 105px;}
}